<div class="selectBl">
  <select class="select" id="sort-by">
    {% assign sort_by = collection.sort_by | default: collection.default_sort_by %}

    {% for option in collection.sort_options %}
      <option
        value="{{ option.value }}"
        {% if option.value == sort_by %}
          selected="selected"
        {% endif %}
      >
        {{ option.name }}
      </option>
    {% endfor %}
  </select>
  <span class="icon ChevronDownIcon">{{ 'ChevronDownIcon.svg' | inline_asset_content }}</span>
</div>